{% extends 'portfolio/base.html' %}
{% block content %}
    
    <h1 class="text-center">Okorite's Portfolio</h1>

    
    {% load static %}

    <img src="{% static 'portfolio/mypic.jpg' %}" class="img-fluid"><br><br><br>
    
    <div class="row">
        {% for project in projects %}
        
        <div class="col-md-4">
            {% if project.url %}
            <br><a href="{{ project.url }}" ><img src="{{ project.image.url }}" class="img-fluid img-link img-thumbnail"></a>
            {% else %}
            <br><img src="{{ project.image.url }}" class="img-fluid img-thumbnail">
            {% endif %}
            
            <h2 class="h3">{{ project.title }}</h2>
            <p>{{ project.description|striptags|truncatechars:100 }}</p>
        </div>
        {% endfor %}
    </div><br>
    <a href="{% url 'portfolio:all_projects' %}">See All Projects</a>

{% endblock %}
